* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size:cover;
  background-color: #e1f5ff;
}

.login {
  max-width: 500px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 2px solid white;
  padding: 15px;
  border-radius: 15px;
background-color: beige;
}

.error {
  color: red
}

.message {
  color: red
}

.header {
  padding: 0px 14px;
  text-align: left;f
  color: white;
  font-size: 20px;
  overflow: hidden;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 6px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-nav-right {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  border-style: solid;
  border-color: black;
}

h1 {
  margin-top: 22px;
  margin-bottom: 5px;
  color: #ffc875;
  font-size: xxx-large;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
}

p {
  padding: 5px 40px;
  color: black;
  background-color: white;
}

a:hover{
    cursor: pointer;
}

input[type=password], input[type=text], input[type=date], textarea {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

input[type=password]:read-only, input[type=text]:read-only, input[type=date]:read-only, textarea:read-only {
  background-color: #a7b7be;
}


input[type=submit] {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.inputForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px 20px;
}


ul {
  margin: 8px 0px;
  padding: 0px 20px;
  list-style-type: none;
}



div.imageOfTheDay {
  margin: 15px;
}

div.homeClasses {
  margin: auto;
  width: 600px;
  text-align: center;

}


img.imageOfTheDay {
  height: 300px;
  width: 100%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

img.dayListPreview {
  height: 100px;
  width: 100%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   font-style: italic;
   border-style: solid;
   border-color: black;
}

.footerText {
  margin: 20px;
  font-size: small;
}

div.registrationButtons {
  text-align: center;
}

#registrationButtons button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vw;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: 25%;
  font-weight: bold;
  height: 12vh;
}

button.btn_student {
  background-color: #4CAF50; /* Green */
}
button.btn_teacher {
  background-color: #008CBA; /* Green */
}
button.btn_other {
  background-color: #f44336; /* Green */
}

button.btn_exitFS {
  color: black;
  border: 2px solid black;
  font-size: 3vw;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  width: 5vw;
  height: 5vw;
  vertical-align: middle;
  position: absolute;
}

button.btn_FS {
  color: black;
  background-color: inherit;
  border: 2px solid black;
  font-size: 3vw;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
}

.registrationReceived {
  font-size: xxx-large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  height: 12vh;
}

.expandRegion {
  background-color: #607d8b;
  height: 80%;
}

.vertCenter {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.lunchRegDescription {
  text-align: center;
  font-size: 3.4vw;
  margin-bottom: 40px;
  color: #f9f9f9;
}

#lunchDayTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#lunchDayTable td, #lunchDayTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#lunchDayTable tr:nth-child(even){background-color: #f2f2f2;}
#lunchDayTable tr:nth-child(odd){background-color: #fbe1ff;}

#lunchDayTable tr:hover {background-color: #ddd;}

#lunchDayTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.registrationDay {
    background-color: #79d391;
}

.calendarWrapper {
  padding: 30px;
}

div.dayContainer {
  padding: 0px 30px;
}

div.dayContainer p.dayContainer {
  padding: 0px;
}


table, th, td {
  border: 2px solid black;
}

div.computerSelect {
  height: 80%;
  overflow: scroll;
}