table {
  text-align: left;
  position: relative;
   border: 2px solid black;
}

th {
  background: #E6E6FA;
  position: sticky;
  top: 0;
   border: 2px solid black;
}

td {
 
  border: 2px solid black;
  
}

